watch_file .env
watch_file .env.local

watch_file devenv.nix
watch_file devenv.yaml
watch_file devenv.lock

watch_file nix/claude-code-env.nix
watch_file nix/claude-code-mcp-servers.nix
watch_file nix/claude-code.nix
watch_file nix/convert-to-opencode.nix
watch_file nix/flake.nix

eval "$(devenv print-dev-env)"
